fastapi==0.95.2         # For building the API
uvicorn==0.22.0           # For running FastAPI applications
python-multipart==0.0.6   # For handling file uploads in FastAPI
requests==2.31.0          # For making HTTP requests
langchain_groq==0.1.0     # For Groq AI integration (ensure this matches the package used)
aiofiles==23.1.0          # For asynchronous file operations in FastAPI
openai==0.27.8            # For using OpenAI Whisper APIs
whisper==1.1.10   
ffmpeg        # For OpenAI's Whisper library (if you use the local version)
ffmpeg-python==0.2.0      # For FFmpeg support in Python
pydantic==1.10
streamlit
fastapi==0.95.2 
pydantic==1.10.9
pydantic==2.0.0
python3.11